<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Just Do It</title>
	<link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body ng-app="todoListApp">
	<h1>To-Do</h1>
	<div ng-controller="mainCtrl" class="list">
		<div class="add" ng-click="addTodo()">
			<button>+ New Task</button>
		</div>
		<div ng-class="{'editing-item': editing, 'edited': todo.edited, 'completed': todo.completed}" ng-repeat="todo in todos | orderBy: 'completed' : false" ng-init="todo.completed = false" class="item">
			<input ng-model="todo.completed" type="checkbox" />
			<label ng-hide="editing" class="editing-label">
				{{todo.task}}
			</label>
			<input ng-show="editing" ng-blur="editing = false" ng-model="todo.task" class="editing-label" type="text">
			<div class="actions">
				<button ng-click="editing = !editing">edit</button>
				<button ng-click="saveTodo(todo)">save</button>
				<button ng-click="deleteTodo(todo, $index)" class="delete">delete</button>
			</div>
		</div>
	</div>
	<script src="scripts/angular/angular.js" type="text/javascript"></script>
	<script src="scripts/app.js" type="text/javascript"></script>
	<script src="scripts/controllers/main.js" type="text/javascript"></script>
	<script src="scripts/services/data.js" type="text/javascript"></script>
</body>
</html>